<%- include('partials/header.ejs') %>
<div id="call-interface">
    <div class="videos-container" id="videos-container">
        <div class="video-wrapper local-video-wrapper">
            <video id="local" autoplay playsinline muted></video>
            <div class="video-label">You</div>
        </div>
        <!-- Remote video will be added dynamically -->
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/call.js"></script>